<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.georgita"
	    versionCode="28" 
        version   = "0.1.5"
		package="com.designge.georgita"
		xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Georgita</name>


	<icon src="1024.jpg" />
	<icon src="1024.jpg" width="1024" height="1024" />


<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
<allow-navigation href="*://*.georgita.ge/*" />

 <platform name="android">
        <preference name="android-minSdkVersion" value="18" />
        <allow-intent href="market:*" />
    </platform>




<platform name="ios">
		<icon gap:platform="ios"  width="1024" height="1024" src="1024.jpg" />
		<icon gap:platform="ios" width="40" height="40" src="40.png"  />
		<icon gap:platform="ios" width="80" height="80" src="80.png"  />
		<icon gap:platform="ios" width="57" height="57" src="57.png"  />
		<icon gap:platform="ios" width="72" height="72" src="72.png"  />
		<icon gap:platform="ios" width="60" height="60" src="60.png"  />
		<icon gap:platform="ios" width="114" height="114" src="114.jpg" />
		<icon gap:platform="ios" width="144" height="144" src="144.jpg"  />
		<icon gap:platform="ios" width="120" height="120" src="120.png"  />

        <allow-intent href="itms:georgita.ge"/>
        <allow-intent href="itms-apps:georgita.ge"/>
		<gap:config-file platform="ios" parent="com.apple.developer.associated-domains" mode="replace">
			<array>
				<string>applinks:georgita.ge</string>
			</array>
		</gap:config-file> 

		  <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
      <array>
        <string>applinks:georgita.ge</string>
      </array>
    </config-file>

		<config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
		  <array>
			<string>applinks:georgita.ge</string>
		  </array>
		</config-file>

			<config-file platform="ios" target="Entitlements-*.plist" parent="com.apple.developer.associated-domains" mode="replace">

			 <array>  

				  <string>applinks:georgita.ge</string>

			 </array>

		</config-file>

	
    </platform>

	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
	  <string>1.5.7</string>
	</gap:config-file>

	<preference name="android-build-tool" value="gradle" /> 
<!--<preference name="StatusBarOverlaysWebView" value="true" />-->
	<preference name="phonegap-version" value="cli-8.0.0" /> 
	<preference name="orientation" value="portrait" />
	<preference name="target-device"              value="handset" />
<!--	<preference name="fullscreen" value="true" />-->
	<preference name="webviewbounce" value="true" />  
	<preference name="DisallowOverscroll" value="false" />
	<preference name="stay-in-webview"            value="false" /> 



	<preference name="exit-on-suspend"            value="false" />          
	<preference name="show-splash-screen-spinner" value="false" />    
	<preference name="auto-hide-splash-screen"    value="false" />
	<preference name="disable-cursor"             value="false" />
	<preference name="android-minSdkVersion"      value="18" />         
	<preference name="android-installLocation"    value="auto" />
	<preference name="EnableViewportScale"    value="true" />

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#16810e" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<description>
    Georgita
    </description>
	

    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>


 
    <plugins>

    </plugins>

	<feature name="http://api.phonegap.com/1.0/device" />


	<feature name="App">
	  <param name="android-package" value="com.designge.georgita"/>
	</feature>

	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	

	<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />

</widget>
